*, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    
  }


  body{
    height: 200vh;
  }



h2, h3{
    text-align: center;
    text-decoration: underline;
    color: #6e4dd2;

}

.nav_bar {
    background-color: rgb(213, 213, 213);
    padding: 5px;
}

.flat_img{
    margin-bottom: 0px;
}

.titre{
    margin-top: 0px;
    background-color: rgb(213, 213, 213);
    padding: 5px;
    margin-bottom: 100px;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px; 
    margin: 0 auto;
}

.container a {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
    padding: 10px;
    text-align: center;
    background-color: #6e4dd2;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    text-decoration: none;
    color: #ffffff;
}

.container a:hover {
    background-color: #e0e0e0; /
}
